<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--Permiso a localización precisa-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--Permiso a localización aproximada-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--Permiso a localización en segundo plano-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!--Permiso a red-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Permiso a escribir en almacenamiento interno-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        
        android:label="zeroweather"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:enableOnBackInvokedCallback="true">
        <!--El android:enableOnBackInvokedCallback="true" es para que el back button funcione correctamente-->
        <!--El file Provider es necesario para compartir archivos de manera segura entre aplicaciones-->
        <!--Es necesario ya que no se puede compartir archivos directamente usando rutas de archivo-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.zeroweather.flutter_downloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--En la primera linea se especifica el nombre del proveedor de archivos. En la segunda se especifica el nombre del dominio de autorización. En la tercera indica que el file provider no es accesible para otras aplicaciones. En la cuarta indica que el file provider puede compartir archivos con el instalador de paquetes-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <!--La linea anterior se refiere a un archivo xml que contiene las rutas de los archivos que se pueden compartir-->
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                the Android process has started. This theme is visible to the user
                while the Flutter UI initializes. After that, this theme continues
                to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
            This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
        https://developer.android.com/training/package-visibility and
        https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

        In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
